<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node"/>
    <node pkg="tl_detector" type="light_publisher.py" name="light_publisher" output="screen" cwd="node"/>
    <param name="model_path" value="$(find styx)../../../model/site_traffic_light_detector/traffic_light_real_ssd_inception.pb" />
    <!--<param name="model_path" value="$(find styx)../../../model/sim_traffic_light_detector/yolo.h5" />-->
    <param name="model_classes" value="$(find styx)../../../model/sim_traffic_light_detector/coco_classes.txt" />
    <param name="model_anchor" value="$(find styx)../../../model/sim_traffic_light_detector/yolo_anchors.txt" />
</launch>
